.body{
  width: 70%;
  
}
.but {
  width: 80px;
  height: 100px;
  background-color: lightgray;
  padding: 50px;
  display: inline-block;
  cursor: pointer;

}
#demo {
  width: 500px;
  border: solid black 1px;
  margin: 10px;
  display: flex;
    margin-left: auto;
  margin-right: auto;
}
.box {
  background-color: gray;
  flex: auto;
  margin: 5px;
  padding: 20px;
  text-align: center;
}
h2, p {
  text-align: center;
}
.buttons{
margin: auto;
  width: 400px;
  text-align: center;
}